<!DOCTYPE html>
<html>
<head>
    <title>Введите данные объекта для загрузки видео</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <h1 class="text-center">Введите данные объекта для загрузки видео</h1>
        <form action="/info/" method="post">
            <div class="form-group">
                <label for="obj">Объект:</label>
                <input type="text" class="form-control" id="obj" name="obj" required>
            </div>
            <div class="form-group">
                <label for="building">Корпус:</label>
                <input type="text" class="form-control" id="building" name="building" required>
            </div>
            <div class="form-group">
                <label for="entrance">Подъезд:</label>
                <input type="text" class="form-control" id="entrance" name="entrance" required>
            </div>
            <div class="form-group">
                <label for="floor">Этаж:</label>
                <input type="text" class="form-control" id="floor" name="floor" required>
            </div>
            <div class="form-group">
                <label for="apartment">Квартира:</label>
                <input type="text" class="form-control" id="apartment" name="apartment" required>
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
